## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,9,Kailua,US,83.14,scattered clouds,21.4022,-157.7394,Sheffield House Bed & Breakfast
2,10,Atuona,PF,80.29,few clouds,-9.8000,-139.0333,Villa Enata
3,12,Calabozo,VE,85.57,overcast clouds,8.9242,-67.4293,Hotel Giardini
4,14,Dingle,PH,77.72,broken clouds,10.9995,122.6711,SEGAYA PROPERTY

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Srandakan"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Srandakan"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Labuhan"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Ambulu"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Boyolangu"]

In [114]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# Start Lat_Lng Coordinates
start_lat = vacation_start["Lat"].to_numpy()[0]
start_lng = vacation_start["Lng"].to_numpy()[0]
start = (start_lat, start_lng)

# End Lat_Lng Coordinates
end_lat = vacation_end["Lat"].to_numpy()[0]
end_lng = vacation_end["Lng"].to_numpy()[0]
end = (end_lat, end_lng)

# Stop1 Lat_Lng Coordinates
stop1_lat = vacation_stop1["Lat"].to_numpy()[0]
stop1_lng = vacation_stop1["Lng"].to_numpy()[0]
stop1 = (stop1_lat, stop1_lng)

# Stop2 Lat_Lng Coordinates
stop2_lat = vacation_stop2["Lat"].to_numpy()[0]
stop2_lng = vacation_stop2["Lng"].to_numpy()[0]
stop2 = (stop2_lat, stop2_lng)

# Stop3 Lat_Lng Coordinates
stop3_lat = vacation_stop3["Lat"].to_numpy()[0]
stop3_lng = vacation_stop3["Lng"].to_numpy()[0]
stop3 = (stop3_lat, stop3_lng)

In [115]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
srandakan_round_trip = gmaps.directions_layer(
    start, end, waypoints = [stop1, stop2, stop3],
    travel_mode = "DRIVING")
fig.add_layer(srandakan_round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [116]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,
                          vacation_end,
                         vacation_stop1,
                         vacation_stop2,
                         vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,58,Srandakan,ID,77.09,overcast clouds,-7.9386,110.2506,Puri Brata
1,58,Srandakan,ID,77.09,overcast clouds,-7.9386,110.2506,Puri Brata
2,238,Labuhan,ID,76.89,scattered clouds,-6.8844,112.2051,PT PPI Lamongan Tambak C
3,132,Ambulu,ID,75.04,overcast clouds,-8.3450,113.6058,Hotel Ambulu Jember
4,468,Boyolangu,ID,75.72,light rain,-8.1181,111.8935,Yos ega cv

In [117]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [118]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))